.addressForm_postcode {
    width: 150px;
}

.addressForm_town {
    width: 150px;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
    background-color: #fff0f0;
}
.field-validation-error {
    color: red;
}